 {% extends "home_layout.html" %} {% block title %}Frequently asked question - Cryptotrustarde{% endblock title %} {% block style %} {% endblock style %} {% block content %}

<!--[hero]-->
<div class="banner set-bg" data-bg="/assets/img/b.jpg">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="bn-content">
                    <h3 class="text-center">FAQS</h3>
                    <nav aria-label="breadcrumb" class="bb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Help</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#444444" locale="en" font-color="#ffffff"></coingecko-coin-price-marquee-widget>

<!--[hero]-->



<section class="section faqs-sec">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Start Column Start -->
            <div class="  col-lg-12">
                <div class="company-faq">
                    <div class="faq-full">
                        <div class="faq-details">
                            <div class="panel-group" id="accordion">
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                                                <i class="fi fi-rr-angle-down"></i>
                                                <span class="acc-icons"></span>How Does BSCoptions work?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>
                                                BSCoptions is a Crypto-Forex trading company, specializing in providing profitable Crypto-Forex investment solutions. Our Forex traders and financial analysts work to invest your money in the foreign exchange markets, maximizing profits every step of
                                                the way.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->

                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#check4">
                                                <i class="fi fi-rr-angle-down"></i>
                                                <span class="acc-icons"></span>Do you accept clients from all countries?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check4" class="panel-collapse collapse ">
                                        <div class="panel-body">
                                            <p>
                                                Yes. BSCoptions works with clients from across the globe! Our investors hail from the U.S., across Europe, Asia, Australia and beyond. As long as we have clients who need our help, we're happy to assist by delivering profitable Forex investment solutions.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#check5">
                                                <i class="fi fi-rr-angle-down"></i>
                                                <span class="acc-icons"></span>How long must I wait for a ticket response?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                If your inquiry is urgent, we will respond with urgency. If your ticket is an offer, we may not reply. In general all support ticket will be responded within 6 hours.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                            </div>
                        </div>
                        <!-- End FAQ -->
                    </div>
                </div>
            </div>
            <!-- End Column -->
        </div>
</section>








<!--[banner]-->
<div class="banner-area section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="banner-all area-80 text-center">
                    <div class="banner-content">
                        <h3>Our trading plan world wide business relations for development</h3>
                        <a class="banner-btn" href="#">Sign up now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[banner]-->



{% endblock content %} {% block script %} {% endblock script %}