 {% extends "home_layout.html" %} {% block title %} Welcom To Bscoptions {% endblock title %} {% block style %} {% endblock style %} {% block content %}
<!--[Banner]-->
<div class="hero-section set-bg" data-bg="/assets/img/hero1.jpg">
    <div class="display-table">
        <div class="display-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Start Slider content -->
                        <div class="slide-content text-center">
                            <h2 class="title2">Trade Stocks, Forex, and Crypto today</h2>
                            <div class="layer-1-3">
                                <a href="#" class="ready-btn left-btn"><i class="la la-exchange"></i> Trade Now</a>
                            </div>
                        </div>
                        <!-- End Slider content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[Bannr Ends]-->
<script src="/assets/js/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#444444" locale="en" font-color="#ffffff"></coingecko-coin-price-marquee-widget>



<!--[section1]-->
<section class="section" id="section1">
    <div class="container">
        <!-- Start counter Area -->
        <div class="row">

            <div class="col-md-4 col-sm-12 col-xs-12">
                <!-- fun_text  -->
                <div class="fun_text">
                    <span class="counter-icon"><i class="fi fi-rr-computer"></i></span>
                    <h4>Performance</h4>
                    <span class="counter">Ultimate performance at low cost. </span>

                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <!-- fun_text  -->
                <div class="fun_text">
                    <span class="counter-icon"><i class="fi  fi-rr-globe"></i></span>
                    <h4>World Wide</h4>
                    <span class="counter">Servicing thousands of users from many countries</span>

                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <!-- fun_text  -->
                <div class="fun_text">
                    <span class="counter-icon"><i class="fi fi-rr-comment"></i></span>
                    <h4>24/7 Support</h4>
                    <span class="counter">Active Support team ready to respond any time any day.</span>

                </div>
            </div>

        </div>
    </div>
</section>
<!--[section1 End]-->
<!--[pricing]-->
<sectin class="pricing-section  section">
    <div class="container">
        <!-- Section Title Starts -->
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <h2 class="title-head">Trading <span>Plans </span></h2>
                <div class="title-head-subtitle">
                    <p class="t ">Our plans are well structured to give you a positive return</p>
                </div>
            </div>

        </div>
        <!-- Section Title Ends -->

        <div class="row justify-content-center">

            <div class="col-md-3 col-sm-6 col-xs-12 col-10">
                <div class="pri_table_list">
                    <div class="top-price-inner">
                        <div class="rates">
                            <span class="prices">Bronze</span>
                        </div>
                        <span class="per-day">$500</span>
                    </div>
                    <ol class="pricing-text">
                        More than 75 assets
                        <li class="check">Bronze Level Security</li>
                        <li class="check">0% Withdrawal Fee</li>
                        <li class="check">Instant Withdrawal</li>
                        <li class="check">Account Manager</li>
                        <li class="check">Economic Calendar</li>
                    </ol>
                    <div class="price-btn blue">
                        <a class="btn btn-primary" href="https://trade.fscoptions.com/auth/register">Deposit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 col-10">
                <div class="pri_table_list">
                    <div class="top-price-inner">
                        <span class="base">Popular</span>
                        <div class="rates">
                            <span class="prices">Silver</span>
                        </div>
                        <span class="per-day">$1,000</span>
                    </div>
                    <ol class="pricing-text">
                        Full Access to all Features
                        <li class="check">More than 75 assets</li>
                        <li class="check">Silver Level Security</li>
                        <li class="check">0% Withdrawal Fee</li>
                        <li class="check">Instant Withdrawal</li>
                        <li class="check">Personal Account Manager</li>
                        <li class="check">Risk free trade up to 25%</li>
                        <li class="check">Free webinars</li>
                        <li class="check">Economic Calendar</li>
                        <li class="check">1 month free trading signals</li>
                    </ol>
                    <div class="price-btn blue">
                        <a class="btn btn-primary" href="https://trade.fscoptions.com/auth/login">Deposit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 col-10">
                <div class="pri_table_list">
                    <div class="top-price-inner">

                        <div class="rates">
                            <span class="prices">Gold</span>

                        </div>
                        <span class="per-day">$5,000</span>
                        <ol class="pricing-text">
                            Full Access to all Features
                            <li class="check">More than 75 assets</li>
                            <li class="check">Gold level security</li>
                            <li class="check">0% Withdrawal Fee</li>
                            <li class="check">Instant Withdrawal</li>
                            <li class="check">Personal Account Manager</li>
                            <li class="check">Educational Newsletters</li>
                            <li class="check">Free Webinars</li>
                            <li class="check">Unlimited access to Trading signals</li>
                            <li class="check">Economic Calendar</li>
                            <li class="check">Daily Analytics</li>
                            <li class="check">Market reviews</li>
                            <li class="check">Fundamental and Technical Analysis</li>

                        </ol>
                        <div class="price-btn blue">
                            <a class="btn btn-primary" href="https://trade.fscoptions.com/auth/login">Deposit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 col-10">
                <div class="pri_table_list">
                    <span class="base">Best sale</span>
                    <div class="top-price-inner">
                        <div class="rates">
                            <span class="prices">Platinum</span>
                        </div>
                        <span class="per-day">$10,000</span>
                    </div>
                    <ol class="pricing-text">
                        Full Access to all Features
                        <li class="check">More than 75 assets</li>
                        <li class="check">Two senior analysts</li>
                        <li class="check">Manager available 24/7</li>
                        <li class="check">All VIP webinars access</li>
                        <li class="check">Platinum level security</li>
                        <li class="check">Up to 100% bonus</li>
                        <li class="check">0% Withdrawal Fee</li>
                        <li class="check">Instant Withdrawal</li>
                        <li class="check">Personal Account Manager</li>
                        <li class="check">Educational Newsletters</li>
                        <li class="check">Free Webinars</li>
                        <li class="check">Unlimited access to Trading signals</li>
                        <li class="check">Economic Calendar</li>
                        <li class="check">Daily Analytics</li>
                        <li class="check">Market reviews</li>
                        <li class="check">Fundamental and Technical Analysis</li>


                    </ol>
                    <div class="price-btn blue">
                        <a class="btn btn-primary" href="https://trade.fscoptions.com/auth/login">Deposit</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</sectin>
<!--[pricing ends]-->
<!--[why us]-->
<section class="section" id="why-us">
    <div class="container">
        <!-- Section Title Starts -->
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <h2 class="title-head">Why <span>Choose </span> Us</h2>
                <div class="title-head-subtitle">
                    <p class="t ">Reasons we are top among other Trading co-operations</p>
                </div>
            </div>

        </div>
        <!-- Section Title Ends -->
        <div class="row justify-content-center">

            <!-- Start About -->
            <div class="col-md-6 col-sm-6 col-xs-12 col-10">
                <div class="support-services wow  animated" style="visibility: visible;">
                    <a class="support-images" href="#"><i class="fi  fi-rr-bank"></i></a>
                    <div class="support-content">
                        <h4>Expert management</h4>
                        <p>Our company bscoptions Enterprise helps you to get an incredible high return on your tradings. If you don't like to waste time and if you want to earn big money easy - this program is for you.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Start About -->
            <div class="col-md-6 col-sm-6 col-xs-12 col-10">
                <div class="support-services ">
                    <a class="support-images" href="#"><i class="fas fa-lock"></i></a>
                    <div class="support-content">
                        <h4>Secure trading</h4>
                        <p> We are highly secured by anti DDOS protection of Genius guard, that ensure that every data of the website will be secured at very high level. we are live and member can access their account anytime securely.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Start services -->
            <div class="col-md-6 col-sm-6 col-xs-12 col-10">
                <div class="support-services ">
                    <a class="support-images" href="#"><i class="fi  fi-rr-edit-alt"></i></a>
                    <div class="support-content">
                        <h4>Registered company</h4>
                        <p>BSCoptions is registred under the international business act with Company No. 98377565, and with several other business cooperations and affiliates.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Start services -->
            <div class="col-md-6 col-sm-6 col-xs-12 col-10">
                <div class="support-services">
                    <a class="support-images" href="#"><i class="fas fa-wallet"></i></a>
                    <div class="support-content">
                        <h4>Instant withdrawal</h4>
                        <p>Making withdrawal have never been as easy as bscoptions withdrawal methods. we are swift and smooth in sending Payments to your External Btc wallet.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Start services -->
            <div class="col-md-6 col-sm-6 col-xs-12 col-10">
                <div class="support-services ">
                    <a class="support-images" href="#"><i class="fi  fi-rr-search"></i></a>
                    <div class="support-content">
                        <h4>Verified security</h4>
                        <p>bscoptions Enterprise Limited official website is protected by 2048 bit encryption by trusted company cloudflare securities. Every webpage of bscoptions is secured.</p>
                    </div>
                </div>
            </div>
            <!-- Start services -->
            <div class="col-md-6 col-sm-6 col-xs-12 col-10">
                <div class="support-services">
                    <a class="support-images" href="#"><i class="fi fi-rr-megaphone"></i></a>
                    <div class="support-content">
                        <h4>Live customer support</h4>
                        <p>Our support staff is working 24*7 week. feel free to contact us anytime for any question you have or any complex situation you are in, you are always welcome at bscoptions</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--[why us]-->
<div class="section self-area  ">
    <div class="container">
        <div class="row">
            <!-- column end -->
            <div class="col-md-6 col-sm-6 col-xs-12">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="self-content">
                    <h4> To participate in our program you need only one thing. All you need is desire to get rich. Our professional financial team and financial advisers are always at your service. We will help you to earn easy way.
                    </h4>

                </div>
            </div>
            <!-- column end -->
        </div>
    </div>
</div>
<!--[process]-->
<section class="section" id="prc-sec">
    <div class="conatiner">
        <!-- Section Title Starts -->
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <h2 class="title-head">Our <span>Process </span> </h2>
                <div class="title-head-subtitle">
                    <p class="t ">Starting and setting up your account for trade is very easy.</p>
                </div>
            </div>

        </div>
        <!-- Section Title Ends -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row  ">

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-proses">
                            <div class="proses-content">
                                <div class="proses-icon point-blue">
                                    <span class="point-view">01</span>
                                    <a href="#"><i class="fi fi-rr-briefcase"></i></a>
                                </div>
                                <div class="proses-text">
                                    <h4>Register</h4>
                                    <h6>Choose the right account type, check details &amp; Register account</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-proses">
                            <div class="proses-content">
                                <div class="proses-icon point-orange">
                                    <span class="point-view">02</span>
                                    <a href="#"><i class="fi fi-rr-dollar"></i></a>
                                </div>
                                <div class="proses-text">
                                    <h4>Top Up</h4>
                                    <h6>Choose the right investment plan and fund your account with the appropriate amount</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-proses last-item">
                            <div class="proses-content">
                                <div class="proses-icon point-green">
                                    <span class="point-view">03</span>
                                    <a href="#"><i class="fi  fi-rr-chart-histogram"></i></a>
                                </div>
                                <div class="proses-text">
                                    <h4>Start Trade</h4>
                                    <h6>Trade with ease with top digital assets and cryptocurrencies</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End column -->

                </div>
            </div>
        </div>
    </div>
</section>
<!--[process]-->
<!--[banner]-->
<div class="banner-area section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="banner-all area-80 text-center">
                    <div class="banner-content">
                        <h3>Our trading plan world wide business relations for development</h3>
                        <a class="banner-btn" href="#">Sign up now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[banner]-->
<!--[review]-->
<section class="section" id="review-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-carousel1 owl-theme">
                    <div>
                        <div class="review-card">
                            <div class="review-card-body">
                                <h5>Ronne Galle
                                </h5>
                                <p class="card-text">“ I am glad Bscoptions is Handling my Trade ” </p>
                                <div class="review-rating">
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="review-card ">
                            <div class="review-card-body">
                                <h5>Missy Limana
                                </h5>
                                <script src="//code.tidio.co/tv85mz0l4ahrrquybf65a4phefs9kcpo.js" async></script>
                                <p class="card-text">“Do not Hestitate to Trade with Bscoptions. I staked my Last savings with them. It was a good opportunity for me” </p>
                                <div class="review-rating">
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="review-card ">
                            <div class="review-card-body">
                                <h5>Martha Brown
                                </h5>
                                <p class="card-text">“ Bscoptions is your number one trading company I will recommend. ” </p>
                                <div class="review-rating">
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="review-card  ">
                            <div class="review-card-body">
                                <h5>Hanna Lisem
                                </h5>
                                <p class="card-text">“ I was blown away by the Results. Thanks again Bscoptions ” </p>
                                <div class="review-rating">
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                    <a href="#"><i class="fi fi-rr-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--[review]-->


{% endblock content %} {% block script %} {% endblock script %}