{% extends "user_layout.html" %} {% block title %} Trading History {% endblock title %} 
{% block style %} 
<style>
    .over-lay {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
    }
    
    .over-lay.active {
        display: block;
    }
    
    .lds-ring {
        display: block;
        position: relative;
        width: 100px;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 250px;
    }
    
    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        margin: 0px;
        border: 4px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }
    
    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    
    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    
    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    
    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock style %} {% block dialog %}
<div class="over-lay">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="openhtml">
        <div style="margin-top: 10px;margin-right: auto;margin-left: auto;width: 50%;text-align: center;">
            <h1 class="msg">Request Pending</h1><!--<a href="#" class="closeOption">Close</a>--></div>
    </div>
</div>


<!--Dialog-->
<div class="trans-detail trading">
    <div class="container">
        <div class="trans-content">
            <div class="es-dialog-head m-dialog-head">
                <h4>
                    <div class="d-flex justify-content-center">

                        <div class="dialog-title">Trade Details</div>

                        <div class="close-btn2">
                            <span class="fi  fi-rr-cross">
        
                            </span>
                        </div>
                    </div>
                </h4>
            </div>
            <div class="dialog-content">
                <div class="m-table-row m-row">
                    <div class="m-table-cell">
                        <div class="m-left amount"><span>Amount</span> (USD)
                        </div>
                    </div>
                    <div class="m-table-cell">
                        <div class="m-right amount m-row-value">$<span id="trade-amount"></span></div>
                    </div>
                </div>


                <div class="m-table-row m-row">
                    <div class="m-table-cell">
                        <div class="m-left"><span>Status</span>
                        </div>
                    </div>
                    <div class="m-table-cell">
                        <div class="m-right m-row-value"><span class="trade-status" id="trade-status"></span></div>
                    </div>
                </div>




                <div class="m-table-row m-row">
                    <div class="m-table-cell">
                        <div class="m-left"><span>Time</span>
                        </div>
                    </div>
                    <div class="m-table-cell">
                        <div class="m-right m-row-value" id="trade-time"></div>
                    </div>
                </div>



                <div class="m-table-row m-row">
                    <div class="m-table-cell">
                        <div class="m-left"><span>symbol</span>
                        </div>
                    </div>
                    <div class="m-table-cell">
                        <div class="m-right m-row-value" id="trade-symbol"></div>
                    </div>
                </div>




                <div class="m-table-row m-row">
                    <div class="m-table-cell">
                        <div class="m-left"><span>Expected Pay</span>
                        </div>
                    </div>
                    <div class="m-table-cell">
                        <div class="m-right m-row-value">$<span id="trade-exp"></span></div>
                    </div>
                </div>



                <div class="m-table-row m-row">
                    <div class="m-table-cell">
                        <div class="m-left"><span>Leverage</span>
                        </div>
                    </div>
                    <div class="m-table-cell">
                        <div class="m-right m-row-value"><span id="trade-leverage"></span>x</div>
                    </div>
                </div>

                <div class="m-table-row m-row">
                    <div class="m-table-cell">
                        <div class="m-left"><span>Interval</span>
                        </div>
                    </div>
                    <div class="m-table-cell">
                        <div class="m-right m-row-value"><span id="trade-interval"></span>min</div>
                    </div>
                </div>
                <div class="m-table-row m-row">
                    <div class="m-table-cell">
                        <div class="m-left"><span>End Price</span>
                        </div>
                    </div>
                    <div class="m-table-cell">
                        <div class="m-right m-row-value">$<span id="trade-endp"></span></div>
                    </div>
                </div>


                <div class="m-table-row m-row">
                    <div class="m-table-cell">
                        <div class="m-left"><span>End Time</span>
                        </div>
                    </div>
                    <div class="m-table-cell">
                        <div class="m-right m-row-value" id="trade-endt"></div>
                    </div>
                </div>
















            </div>
            <!--<div class="close-dialog">
                <div class="close-btn">
                    <span class="fi  fi-rr-cross">

                        </span>
                </div>
            </div>-->
        </div>
    </div>

</div>
<!--Dialog-->

{% endblock dialog %} {% block content %}


{% csrf_token %}


<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">

            <div class="d-flex align-items-center justify-content-between mb-0">
                <h1 class="h3 mb-0 text-gray-800">Trading</h1>

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">History</li>
                </ol>

            </div>
            <div class="row hidden-lg mb-3">
                <div class="col-lg-12">
                    <script src="/assets/js/coingecko-coin-price-marquee-widget.js"></script>
                    <coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#444444" locale="en" font-color="#ffffff"></coingecko-coin-price-marquee-widget>

                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12 hidden-xs">
                    <div class="card mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">History</h6>
                        </div>
                        <div class="table-responsive-sm p-3">
                            <table class="table table-sm table-striped table-bordered bootstrap-datatable datatable responsive text-white" id="dataTableHover">
                                <thead class="thead-dark">
                                    <tr>

                                        <th> Time</th>
                                        <th>Symbol </th>
                                        <th>Amount </th>
                                        <th> Payout</th>
                                        <th>Leverage</th>
                                        <th>Interval</th>
 
                                        <th>End Time</th>
                                        <th> Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for obj in trades %}
                                    <tr>

                                        <td class="center">{{obj.date|date:"Y-m-d g:iA"}}</td>
                                        <td class="">{{obj.sysmbol}}</td>
                                        <td class="center">${{obj.amount}}</td>
                                        <td class="center">${{obj.payout}}</td>
                                        <td class="center">{{obj.leverage}}x</td>
                                        <td class="center">{{obj.interval}}min</td>

                                         <td class="center">
                                            {% if obj.status == "pending" %}
                                            <span class="pro-date" data-id="{{obj.id}}"  data-date="{{ obj.end_date|date:'M d, Y H:m:s' }}" >{{obj.end_date|date:"Y-m-d g:iA"}}</span>
                                    
                                            {% else %}
                                            <span>{{obj.end_date|date:"Y-m-d g:iA"}}</span>

                                            {% endif %}
                                        </td>


                                        <td class="center  sorting_1">
                                            {% if obj.status == 'pending' %}
                                            <span class="badge badge-warning">Pending</span> {% elif obj.status == 'gain' %}
                                            <span class="badge badge-success">Gained</span> {% else %}
                                            <span class="badge badge-danger">Lost</span> {% endif %}
                                        </td>
                                        <!--<td class="center"><a href="#">Details</a></td>-->

                                    </tr>{% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 hidden-lg">
                    <div class="row justify-content-center mt-3">

                        {% for obj in trades %}
                        <div data-pk="{{obj.id}}" class="col-12 mb-4 trade-d-form">
                            <div class="card trans">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">{{obj.sysmbol}}</div>
                                            <div class="small mb-0 mr-3   text-gray-800">{{obj.end_date|date:"Y-m-d g:iA"}}</div>

                                        </div>
                                        <div class="col-auto">
                                            {% if obj.status == 'pending' %}
                                            <span class="text-warning">${{obj.amount}}</span> {% elif obj.status == 'gain' %}
                                            <span class="text-success">${{obj.amount}}</span> {% else %}
                                            <span class="text-danger">${{obj.amount}}</span> {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>


                </div>
            </div>
        </div>



    </div>


    {% endblock content %} {% block script %}








    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable(); // ID From dataTable 
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover

            let process_date = $('.pro-date')
            if (process_date){
                console.log(process_date.data('date'))
                $('.pro-date').each(function () {
                    var edntime = $(this).data('date')
                    var id = $(this).data('id')
                    const eventS = Date.parse(edntime)
                    // Get today's date and time
                    setInterval(() => {
                        var now = new Date().getTime();

                        distance = eventS - now
                        
                        if (distance < 0) {
                            process_trade_status(id)
                        }
                    }, 1000);
                    


                })
            }
        });


        function process_trade_status(t_id) {
            $('.over-lay').addClass('active')
            $('.msg').text('Please Wait')
            $.ajax({
                type : 'POST',
                url : '/process-trade/',
                dataType : 'json',
                data : {
                    'trade_id' : t_id,
                    csrfmiddlewaretoken : $("input[name='csrfmiddlewaretoken']").val()
                },
                success : function (data) {
                    console.log(data)
                    window.location.reload()
                },
                complete : function(){
                    
                }
            })
        }
    </script>

    {% endblock script %}